/.bashrc
/.config
/.idea
/.ipython
/.lightning_studio
/.lightningignore
/.viminfo
/.vscode
/.zcompdump
/.zsh_history
/.zshrc
/AINovice2005
/filtered_data.csv
/filtered_data2.csv
/filtered_data3.csv
/filtered_data4.csv
/path_to_save_tokenized_data1
/path_to_save_tokenized_data3
/results
/.condarc
/.docker
/.gitconfig
/.hushlogin
/.jupyter
/.local
/.oh-my-zsh
/.profile
/.ssh
/.sudo_as_admin_successful